        //footer
        .footer {
            
            background-image: url(../img/footer-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            
            padding: 40px 0px 24px 0px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 102, 39, 0.70);
                backdrop-filter: blur(12px);
            }
            .container {
                max-width: 1330px;
            }
            .footer_container{
                position: relative;
                z-index: 1;
            }
            &-main {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0 auto;
                align-items: center;
            }
            /* Footer Columns */
            &-column {
                label{
                    text-align: center;
                }
                &-1 {}
                &-2 {
                    display: grid;
                    @include xl {
                        grid-column-gap: 20px;
                    }
                    @include tab {
                        grid-column-gap: 10px;
                    }
                }
                &-3 {}
                &-4 {}
            }
            /* Logo Section */
            .logo-section {
                margin-bottom: 20px;
            }
            .contact-button {
                width: 100%;
                text-align: center;
                .btn_sm {
                    min-width: 200px;
                    border: 2px solid transparent;
                    &:hover {
                        border-color: #fff;
                        color: #fff;
                        background: transparent;
                    }
                }
            }
            /* Contact Information */
            .contact-info-item {
                display: flex;
                flex-direction: row;
                gap: 2px;
                width: 100%;
                align-items: flex-start;
                .label {
                    font-size: 18px;
                    color: $white;
                    font-weight: 600;
                    margin-bottom: 5px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    column-gap: 8px;
                }
                .ct_icon {
                    min-width: 25px;
                }
                p {
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    font-family: $secondary-font;
                    line-height: 150%;
                    a {
                        font-weight: 500;
                        text-decoration: none;
                        color: #fff;
                        line-height: 150%;
                        &:hover {
                            text-decoration: underline;
                            color: $text-black;
                        }
                    }
                }
            }
            .social-heading {
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                color: $white;
            }
            .footer-links {
                list-style: none;
                padding: 0px;
                li {
                    margin-bottom: 12px;
                }
                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: normal;
                }
                @include md {
                    text-align: center;
                }
            }
            .social_media {
                @include flex;
                justify-content: center;
                ul {
                    @include flex;
                    margin: 0;
                    padding: 0px;
                    list-style: none;
                    visibility: visible;
                    gap: 8px;
                    li {
                        a {
                          
                            width: 30px;
                            height: 30px;
                            @include all;
                           
                            &:hover {
                               filter: brightness(0) saturate(100%) invert(35%) sepia(3%) saturate(0%) hue-rotate(179deg) brightness(101%) contrast(88%); 
                            }
                        }
                    }
                }
            }
            /* Copyright Section */
            .footer-copyright {
                text-align: center;
                padding-top: 15px;
                p {
                    font-size: 12px;
                    color: #fff;
                    margin: 0px;
                }
            }
            @include md {
                padding: 16px 32px 16px 32px;
                .footer-main {
                    grid-template-columns: auto;
                    flex-direction: column;
                    grid-gap: 32px;
                    .btn_sm {
                        width: 100%;
                    }
                   
                }
            }
            @include tab {
                .footer-main {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }