@import "breakpoints-mixin-variables";
@media (min-width:1430px) and (max-width:1530px) {}

@media (max-width:767px) {
    .home {
        .NewsMettings,
        .up_events_meetings,
        .news_letter {
            .container {}
        }
    }
    .wp-block-table .has-fixed-layout {
        min-width: 500px;
    }
    .meeting-wraper .filterWrap-meet {
        grid-template-columns: auto;
    }
    .meeting-wraper .filterWrap-meet .sm-padding {
        padding-top: 0;
    }
    .list_addr {
        padding-top: 20px;
    }
    .main_wrapper .wp-block-group .img_text_card_row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .faq_main .search-filter-title {
        grid-template-columns: auto;
    }
    .page_title {
        padding-bottom: 15px;
    }
    .for-desk {
        display: none;
    }
    video {
        height: auto;
    }
    .news_detail {
        padding-top: 10px;
        h2 {
            font-size: 24px;
        }
    }
    .wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
        display: none !important;
    }
    .wp-embed-responsive .wp-has-aspect-ratio iframe {
        position: static !important;
    }
    .newsimg img {
        height: auto;
    }
    .back_next_posts .prev_link {
        position: static;
    }
    .signup_alerts_news form {
        display: block;
    }
    .filterWrap form {
        display: block !important;
        max-width: 100% !important;
    }
    .mt-img-wrap h3 {
        min-height: 10px;
    }
    .back_next_posts .next_link {
        position: static;
    }
    .back_next_posts {
        display: block;
    }
    .main-tabs .nav-tabs li.current_page_item a::after {
        bottom: -4px;
    }
    .main-tabs .nav-tabs .nav-item {
        width: 100%;
        a {
            width: 100%;
        }
    }
    .main_acco_title .acco_title_info {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mt_row_wrap .mt_content .mt_img img {
        height: auto !important;
    }
    .news_wraper .search_filter_title,
    .news_wraper .search_filter_title .filterWrap {
        grid-template-columns: 1fr;
    }
    .artist_detail .artist_info {
        padding-right: 0;
    }
    .event_banner .evt_banner_content {
        padding: 30px 20px 30px 20px;
    }
    .event_wraper .event_top_filter {
        grid-template-columns: auto;
        grid-row-gap: 15px;
    }
    .resultWraper .searchFilterBlock {
        padding-top: 0;
    }
    .more-detail {
        display: block;
        .link {
            margin-bottom: 20px;
        }
    }
    .main_breadcrumb .container {
        padding-left: 15px;
    }
    .text-img-wrap.no-img .btn_sm {
        position: static;
    }
    .search_box {
        width: 100%;
        max-width: 100% !important;
    }
    .contactcard_row {
        margin: 0px;
    }
    .main_wrapper .main_breadcrumb .breadcrumb {
        padding-left: 20px;
        padding-right: 20px;
    }
    .news_grid_info.listView .newsRow .newsColumn .newsimg {
    aspect-ratio: 3/2;
    border-radius: 16px 16px 0px 0px;
    }
    .news_grid_info.listView .newsRow .newsColumn .newsimg{
        border-radius: 16px 16px 0px 0px;
    }
    .news_grid_info.listView .newsRow .newsColumn .newsimg img{
        border-radius: 16px 16px 0px 0px;
    }
}

@media (min-width:1200px) {
    .general-tabs .nav-tabs {
        flex-wrap: nowrap;
    }
    .expanding-container {
  
        &:nth-child(2),
        &:nth-child(6),{
            border-radius: 0px 16px 16px 16px;
        }
        &:nth-child(5),
        &:nth-child(9){
            border-radius: 16px 0px 16px 16px;
        }
    }
}

@media (max-width:1199.9px) {
    .main_wrapper {
        padding-top: 97px;
    }
    .logged-in {
        .main_header {
            position: static;
        }
        .main_banner,
        .main_wrapper {
            padding-top: 0px;
        }
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_content ul,
    .main_content ol {
        li {
            a {
                word-wrap: break-word;
            }
        }
    }
    .alert-area {
        top: 75px;
        z-index: 90;
    }
    .banner_wraper{
            grid-template-columns: 1fr;
            gap: 24px;

    }
    .service-alerts{
        max-width: calc(100vw - 80px);
    }
}

@media (min-width:768px) {
    .show_mobile {
        display: none;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .detail_wrap .col_left {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .detail_wrap .col_right {
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media (max-width:1430px) {
    .banner_wraper {
        padding: 40px;
    }
}